<%- include('header') -%>

  <div class="about_section">
  <!--vegetables  section start -->
  <div class="vegetables_section layout_padding">
    <div class="container">
      <h1 class="about_taital">Nuestro productos</h1>
      <p class="lorem_text">Eficiencia y comodidad en cada compra, para un trabajo m치s 치gil.</p>
      <br>
      <div class="search-container">
        <form class="search-form" action="/buscarProductos" method="get">
          <input type="text" class="search-input" name="nombre" placeholder="Buscar...">
          <button type="submit" class="search-button">Buscar</button>
        </form>
      </div>
      
      <div class="vegetables_section_2 layout_padding">
        <div class="contenedor">
          <% if(productos.length ==0){
            %>
            <p class="lorem_text">No hay productos para mostrar</p>
            <%
          }%>
          
          <% for(var i=0; i < productos.length; i++) { %>
       

            <div class="col">
              <div class="box_section">
                <h2 class="dolor_text"><%= productos[i].nombre%></h2>
                <div class="image_4"><img src="<%= productos[i].imagen%>"></div>
                <h2 class="dolor_text">$<span style="color: #ebc30a;"><%= productos[i].precio%></span></h2>
                <h2 class="dolor_text"><%= productos[i].unidades %> unidades</h2>
                <h2 class="dolor_text_1"><span style="color: #ebc30a;"><%= productos[i].stock%></span> disponibles</h2>
                <p class="tempor_text"><%= productos[i].descripcion %></p>
               
                <form class="search-form" id ="hform" action="/vistaDetalle" method="get">
                 
                  <div class="buy_bt_1"> <a onclick="addIdToUrlAndSubmit(<%= productos[i].id %>)">Comprar</a></div>
                </form>


              </div>
            </div>
            <script>
              function addIdToUrlAndSubmit(id) {
                // Obtener la URL actual
                
                var url = window.location.href.split("/")[0];
               
                // A침adir el par치metro "id" a la URL
                var newUrl = url  + '/vistaDetalle?id=' + id;
              
                // Redireccionar a la nueva URL
                window.location.href = newUrl;
              }
              </script>

         <% } %>
       
          
        </div>
      
      </div>
      <div class="read_bt_1"><a href="#">Read More</a></div>
    </div>
  </div>
  </div>
  <!--vegetables section end -->
  
  <%- include('footer') -%>